#cartelasContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
}

.right {
    margin-left: auto;
}

.cartela {
    border: 1px solid #000; /* Adiciona uma borda à cartela */
    margin: 10px; /* Adiciona espaço entre as cartelas */
    padding: 10px; /* Adiciona preenchimento interno para o conteúdo da cartela */
}

.cartela table {
    width: 100%; /* Garante que a tabela da cartela ocupe toda a largura da célula */
}

.cartela td {
    border: 1px solid #000; /* Adiciona borda a todas as células da tabela */
    text-align: center; /* Alinha o conteúdo centralmente dentro das células */
    padding: 5px; /* Adiciona preenchimento interno para o conteúdo das células */
}

#numeros-sorteio {
    text-align: left;
    margin-left: 20px; /* Ajuste a margem esquerda conforme necessário */
}

#numeros-sorteado {
    list-style-type: none; /* Remove marcadores de lista */
    padding-left: 0; /* Remove o recuo padrão da lista */
}

.titulo-centralizado {
    white-space: nowrap;
    margin-right: 20px; /* Ajuste o valor da margem conforme necessário */
}