{% extends "layout.html" %}

{% block heading %}
    Geração de Cartelas
{% endblock %}

{% block content %}
<form method="POST" action="/geracao">
    <div class="form-group">
        <label for="tipoCartelas">Selecione o tipo de cartela:</label>
        <select class="form-control" id="tipoCartelas" name="tipoCartelas">
            <option value="" disabled selected>Escolha o tipo de cartela</option>
            <option value="fracionarios">Cartelas com números fracionários</option>
            <option value="decimais">Cartelas com números decimais</option>
            <option value="ambos">Cartelas com números fracionários e decimais</option>
        </select>
    </div>
    <div class="form-group">
        <label for="numCartelas">Número de Cartelas:</label>
        <input type="number" class="form-control" id="numCartelas" name="numCartelas" value="1" min="1">
    </div>
    <button type="submit" class="btn btn-primary btn-block mt-3">Gerar Cartelas!</button>
</form>
{% endblock %}