{% extends "layout.html" %}

{% block title %}Bingo Racional - Página Inicial{% endblock %}

{% block heading %}Bingo Racional{% endblock %}

{% block content %}
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-100 mx-auto">
                <p>Bem-vindo ao Bingo Racional, um jogo divertido onde você pode gerar cartelas de bingo com números decimais, fracionários ou ambos. Após gerar suas cartelas, clique no botão "Sortear Números" para iniciar o sorteio dos números.</p>
            </div>
        </div>
    </div>
    <br>
    <button id="btnJogar" class="btn btn-success btn-lg">JOGAR</button>
{% endblock %}
{% block scripts %}
    {{ super() }} <!-- Mantém os scripts definidos no layout.html -->

    <script>
        document.getElementById("btnJogar").addEventListener("click", function() {
            if (isProfessorLoggedIn()) {
                window.location.href = "/geracao"; // Redireciona para a página de geração das cartelas
            } else {
                window.location.href = "/login"; // Redireciona para a página de login
            }
        });

        function isProfessorLoggedIn() {
            // Aqui você deve implementar a lógica de verificação
            // Por exemplo, se você usa algum token ou cookie para verificar:
            let token = localStorage.getItem("professorToken");
            return token !== null;
        }
    </script>
{% endblock %}