{% extends "layout.html" %}

{% block title %}Sorteio de Números - Bingo Racional{% endblock %}
{% block heading %}Bingo Racional{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="{{ url_for('static', filename='globo_bingo.png') }}" alt="Imagem de Globo de Bingo" class="img-fluid">
        </div>
        <div class="col-md-6 text-center">
            <h1 style="white-space: nowrap; margin-right: 80px;">Sorteio de Números</h1>
            <form method="POST" id="tipoSorteioForm">
                <div class="form-group">
                    <select class="form-control" id="tipoSorteio" name="tipoSorteio">
                        <option value="" selected>Escolha o tipo de sorteio</option>
                        <option value="fracionarios">Números fracionários</option>
                        <option value="decimais">Números decimais</option>
                        <option value="ambos">Ambos</option>
                    </select>
                </div>
                <button type="button" class="btn btn-success" id="comecar">Começar</button>
            </form>
            <div class="text-center mt-4">
                <button id="sortear" class="btn btn-primary" style="display: none;">SORTEAR</button>
                <button id="finalizar" class="btn btn-danger" style="display: none;">BINGO!</button>
            </div>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col">
            <div id="numeros-sorteio" style="display: none;">
                <strong>Números sorteados:</strong>
                <ul id="numeros-sorteado">
                    <!-- Números sorteados serão exibidos aqui como itens de lista -->
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function () {
    var sorteioIniciado = false;
    var numerosSorteados = [];

    $("#comecar").click(function () {
        sorteioIniciado = true;
        $("#comecar").prop("disabled", true);
        $("#tipoSorteio").prop("disabled", true);
        $("#sortear").show();
        $("#finalizar").show();
    });

    $("#sortear").click(function () {
        if (sorteioIniciado) {
            // Desabilitar o botão Sortear durante o sorteio
            $("#sortear").prop("disabled", true);

            // Enviar uma solicitação AJAX para sortear um número
            var tipoSorteio = $("#tipoSorteio").val();
            $.post('/sorteio/realizar', { tipoSorteio: tipoSorteio }, function (data) {
                var numeroSorteado = data.numero_sorteado;

                // Exibir o número sorteado de forma destacada (aumentando o tamanho)
                $("#numero-sorteado").html("<span style='font-size: 2em; font-weight: bold;'>" + numeroSorteado + "</span>");

                // Adicionar o número sorteado à lista de números sorteados
                numerosSorteados.push(numeroSorteado);

                // Atualizar a lista de números sorteados
                $("#numeros-sorteado").text(numerosSorteados.join(", "));

                // Exibir "Números sorteados" após o primeiro número sorteado
                $("#numeros-sorteio").show();

                // Reabilitar o botão Sortear
                $("#sortear").prop("disabled", false);
            });
        }
    });

    $("#finalizar").click(function () {
        sorteioIniciado = false;
        $("#comecar").prop("disabled", false);
        $("#tipoSorteio").prop("disabled", false);
        $("#sortear").hide();
        $("#finalizar").hide();
    });
});
</script>
{% endblock %}